/* 强制去除浏览器默认边距 */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 禁止出现滚动条 */
  background-color: #000; /* 防止加载时出现白屏闪烁 */
}

/* 确保 Canvas 也是全屏 */
canvas {
  display: block; /* 去除 canvas底部的微小空隙 */
}